<div class="contextual">
	<%= link_to l(:label_tab_settings_new), new_tab_setting_path(@project.id), :class => 'icon icon-add' %>
</div>

<%= title l(:label_tab_settings) %>

<% @tab_settings = TabSetting.where(project_id: @project) %>

<% if @tab_settings.empty? %>
<p class="nodata"><%= l(:label_no_data) %></p>
<% else %>  
<div class="autoscroll">
	<table id="list_tab_settings" class="list">
		<thead>
			<tr>
				<th><%= l(:label_tab_settings_name)%></th>
				<th><%= l(:label_tab_settings_url)%></th>
				<th><%= l(:query)%></th>
				<th><%= l(:label_tab_settings_model)%></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% for tab_setting in @tab_settings -%>
			<tr>
				<td class="left_align"><%= link_to(tab_setting.tab_name, edit_tab_setting_path(tab_setting)) %></td>
				<td class="left_align"><%= tab_setting.tab_url %></td>
				<td class="left_align"> 
					<%= tab_setting.query.nil? ? "" : tab_setting.query.name %>					
				</td>
				<td class="left_align">
					<%= tab_setting.tab_setting_model.nil?? (tab_setting.query.nil? ? "" : l(:default_tab_settings_model)) : tab_setting.tab_setting_model.name %>
				</td>
				<td class="buttons">
					<%= delete_link(delete_tab_setting_path(tab_setting), :back_url => request.original_fullpath) %>
				</td>
			</tr>
			<% end -%>
		</tbody>
	</table>
</div>
<% end %>
