<%= form_for @tab_setting,
  :url => { :controller => 'tab_setting', :action => 'save', :id => @tab_setting, :project_id => @project.id },
  :html => {:method => :post} do |f| %>
	<p>
   	<%= l(:label_tab_settings_name) %> :        
	  <%= f.text_field('tab_name') %>		
  </p>
  <p>
    <%= l(:label_query) %>:        
    <%= f.select(:query_id, options_from_collection_for_select(@queries, "id", "name", selected: @tab_setting.query_id) ) %>  
    <%= l(:or) %>   
   	<%= l(:label_tab_settings_url) %>:         		     
	  <%= f.text_field('tab_url', :title => "http://redmine/projects/projectName/issues?query_id=queryNumber or issues?query_id=queryNumber") %>	
  </p>
	<p><%= submit_tag l(:button_save) %></p>
<% end %>


<%= javascript_include_tag 'edit.js', :plugin => 'custom_tabs' %>