<%= stylesheet_link_tag 'custom_tabs', :plugin => "redmine_project_custom_tabs" %>
<%= stylesheet_link_tag 'font-awesome-4.6.3/css/font-awesome.min.css', :plugin => "redmine_project_custom_tabs" %>
<div class="contextual">
	<%= link_to l(:label_tab_settings_new), new_admin_tab_setting_path, :class => 'icon icon-add' %>
</div>

<%= title l(:label_tab_settings) %>

<% if @tab_settings.empty? %>
<p class="nodata"><%= l(:label_no_data) %></p>
<% else %>  
<div class="autoscroll">
	<table id="list_tab_settings" class="list">
		<thead>
			<tr>
				<th><%= l(:label_tab_settings_name)%></th>
				<th><%= l(:label_project)%></th>
				<th><%= l(:label_tab_settings_url)%></th>
				<th><%= l(:query)%></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% for tab_setting in @tab_settings -%>
			<% project = Project.find_by_id(tab_setting.project_id)
			   query = Query.find_by_id(tab_setting.query_id)
			   query_name  = query.nil? ? "" : query.name
			unless project.nil? %>
			<tr>
				<td><%= link_to(tab_setting.tab_name, edit_admin_tab_setting_path(tab_setting)) %></td>
				<td><%= project.name %></td>
				<td><%= tab_setting.tab_url %></td>
				<td><%= query_name %></td>
				<td class="buttons">
					<%= delete_link(delete_tab_setting_path(tab_setting), :back_url => request.original_fullpath) %>
				</td>
			</tr>
			<% end %>
			<% end -%>
		</tbody>
	</table>
</div>
<% end %>
