<%   
  # Sélection de la période                  
  date = @period.eql?("last_month") ? Date.today - 1.month : Date.today
  begin_date =  date.beginning_of_month
  end_date   =  date.end_of_month
%>
<p>

<%= display_period_select %>
</p>
<div class="autoscroll">
  <table class="list @issues">
    <thead>
    <%= content_tag('th', 'Projets / Groupes')%>
    <%= content_tag('th', 'Temps passés')%>
    </thead>
    <tbody>
  
    <% # Lecture des sous-projets et des cumuls des saisies -%>
    <% projects_and_times_entries(@project,begin_date,end_date) do |project, time_entry | -%>
      <tr class="group open">
        <td>
          <%= display_expand_button %>
          <%= project.name %>
        </td>
        <td>
           <%= time_entry %>
        </td>
      </tr>     
      <% # Lecture des groupes utilisateurs et des cumuls des saisies -%>
      <%= project_groups(project).collect  do |group| 
        time_entry = time_entries_by_group(project,group,begin_date, end_date)
        if time_entry.to_i > 0
          content_tag :tr do 
            concat(content_tag(:td, group.name, :class=> "one_tab left_align"))
            concat(content_tag(:td, time_entry, :class=> "left_align"))
          end
        end
      end.join.html_safe
      -%>
      <% end -%>
    </tbody>
  </table>
<% # Affichage des exports -%>
<% other_formats_links do |f| %>
  <%= display_export_csv_link(f) %>
<% end %>
  
</div>